extends layout

block content
    h3 All Formulations
    .container
      .row
        ul
          for formulation in formulations
            li
              div Name: #{formulation.formulationName}
              div Source File: #{formulation.dataSourceFile}
              div Source File Type: #{formulation.dataSourceFileType}
              div GIS Source File: #{formulation.geodataSourceFile}
              div GIS Source File Type: #{formulation.geodataSourceFileType}
            br
