extends layout

block content
    h3 Formulation: #{ formulationName }
    .container
      .row
        div Source File: #{formulation.dataSourceFile}
        div Source File Type: #{formulation.dataSourceFileType}
        div GIS Source File: #{formulation.geodataSourceFile}
        div GIS Source File Type: #{formulation.geodataSourceFileType}
