extends layout

block content
    h3 All Formulations
    .container
      .row
        p Create A New Formulation
          a.create-item(href='/formulation') Create
          //- button.btn.btn-sm.btn-primary(href='/formulation') Create
      .row
        h4 Current Formulations
        ul
          for formulation in formulations
            li
              div.item-formulation Name: #{formulation.formulationName}
                a.view-item(href='/formulation/get') View
                a.update-item(href='/formulation/update') Update
                a.delete-item(href='/formulation/delete') Delete
              //- div
                button.btn.btn-sm.btn-success(href='/formulation/get') View
                button.btn.btn-sm.btn-warning(href='/formulation/update') Update
                button.btn.btn-sm.btn-danger(href='/formulation/delete') Delete
              //- div Source File: #{formulation.dataSourceFile}
              //- div Source File Type: #{formulation.dataSourceFileType}
              //- div GIS Source File: #{formulation.geodataSourceFile}
              //- div GIS Source File Type: #{formulation.geodataSourceFileType}
