extends ../layout
block content
	h3 Systems Model Configuration: #{systemsmodelconfiguration.name}
	.container
		.row
			.col-xs-12
				div.systems-model-configuration-view
					div.item-attributes #[strong Name:] #{systemsmodelconfiguration.name}
					div.item-attributes #[strong Description:] #{systemsmodelconfiguration.description}
					div.item-attributes #[strong Systems Model Configuration:] #{systemsmodelconfiguration.configuration}
					div.item-attributes #[strong Systems Model Created On:] #{systemsmodelconfiguration.createdAt}
					div.item-attributes #[strong Systems Model Updated On:] #{systemsmodelconfiguration.updatedAt}
					a.view-all-btn.btn.btn-xs.btn-success(href='/systems-model-configurations') View All
					a.edit-btn.btn.btn-xs.btn-warning(href='/systems-model-configurations/edit/' + systemsmodelconfiguration._id) Edit
					form(action='/systems-model-configurations/delete/'+systemsmodelconfiguration._id method='post')
						//- CRSF Synchronization Token
						input(type='hidden', name='_csrf', value=_csrf)
						button.delete-btn.btn.btn-xs.btn-danger(type='submit') Delete
